videos/
/Assignments/assignment1/cs231n/datasets/*
/Assignments/assignment2/cs231n/datasets/*
/Assignments/assignment3/cs231n/datasets/*
*.py~
*.pyd
Assignments/assignment1/.idea/
Assignments/assignment2/.ipynb_checkpoints/
